<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HumanEntityMapper">
    
    <resultMap type="HumanEntity" id="HumanEntityResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="idCard"    column="id_card"    />
        <result property="phone"    column="phone"    />
        <result property="idCardInfo"    column="id_card_info"    />
        <result property="bankInfo"    column="bank_info"    />
        <result property="registerTime"    column="register_time"    />
        <result property="confirmationStatus"    column="confirmation_status"    />
    </resultMap>

    <sql id="selectHumanEntityVo">
        select id, name, id_card, phone, id_card_info, bank_info, register_time, confirmation_status from human_entity
    </sql>

    <select id="selectHumanEntityList" parameterType="HumanEntity" resultMap="HumanEntityResult">
        <include refid="selectHumanEntityVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="idCard != null  and idCard != ''"> and id_card = #{idCard}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="idCardInfo != null  and idCardInfo != ''"> and id_card_info = #{idCardInfo}</if>
            <if test="bankInfo != null  and bankInfo != ''"> and bank_info = #{bankInfo}</if>
            <if test="registerTime != null "> and register_time = #{registerTime}</if>
            <if test="confirmationStatus != null  and confirmationStatus != ''"> and confirmation_status = #{confirmationStatus}</if>
        </where>
    </select>
    
    <select id="selectHumanEntityById" parameterType="Long" resultMap="HumanEntityResult">
        <include refid="selectHumanEntityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHumanEntity" parameterType="HumanEntity" useGeneratedKeys="true" keyProperty="id">
        insert into human_entity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="idCard != null and idCard != ''">id_card,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="idCardInfo != null">id_card_info,</if>
            <if test="bankInfo != null">bank_info,</if>
            <if test="registerTime != null">register_time,</if>
            <if test="confirmationStatus != null and confirmationStatus != ''">confirmation_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="idCard != null and idCard != ''">#{idCard},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="idCardInfo != null">#{idCardInfo},</if>
            <if test="bankInfo != null">#{bankInfo},</if>
            <if test="registerTime != null">#{registerTime},</if>
            <if test="confirmationStatus != null and confirmationStatus != ''">#{confirmationStatus},</if>
         </trim>
    </insert>

    <update id="updateHumanEntity" parameterType="HumanEntity">
        update human_entity
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="idCardInfo != null">id_card_info = #{idCardInfo},</if>
            <if test="bankInfo != null">bank_info = #{bankInfo},</if>
            <if test="registerTime != null">register_time = #{registerTime},</if>
            <if test="confirmationStatus != null and confirmationStatus != ''">confirmation_status = #{confirmationStatus},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHumanEntityById" parameterType="Long">
        delete from human_entity where id = #{id}
    </delete>

    <delete id="deleteHumanEntityByIds" parameterType="String">
        delete from human_entity where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>