<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-if条件渲染案例</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="box">
        <ul>
            <li v-for="({title,state},index) in dataList">
                {{title}}--{{index}}
                <div v-if="state===0">待付款</div>
                <div v-else-if="state===1">已付款</div>
                <div v-else>已发货</div>
            </li>
        </ul>
    </div>
    <script>
        var obj = {
            data(){
                return {
                    dataList:[
                        {title:"手机1",state:0},
                        {title:"手机2",state:2},
                        {title:"手机3",state:1}
                    ]
                }
            }
        }
        var app = Vue.createApp(obj).mount("#box");
    </script>
</body>
</html>