<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-if条件渲染案例</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="box">
        <template v-if="show">
            <ul>
                <li v-for="item in dataList">
                    {{item}}
                </li>
            </ul>
        </template>
    </div>
    <script>
        var obj = {
            data(){
                return {
                    dataList:["aaa","bbb","ccc"],
                    show:true
                }
            }
        }
        var app = Vue.createApp(obj).mount("#box");
    </script>
</body>
</html>