<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车案例</title>
    <script src="vue.js"></script>
    <style>
        li {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
            border: 1px solid lightblue;
        }

        li img {
            width: 100px;
        }
    </style>
</head>

<body>
    <div id="box">
        <ul>
            <li>
                <input type="checkbox"  v-model="isAllChecked">
                <span>点击全选\全不选</span>
            </li>
            <li v-for="(good,index) of goodInfos" :key="good.id">
                <div>
                    <input type="checkbox" v-model="chackedList" :value="good" >
                </div>
                <div>
                    <img :src="good.img">
                </div>
                <div>
                    <div>{{good.title}}</div>
                    <div>{{good.price}}</div>
                </div>
                <div>
                    <button @click="good.num--" :disabled="good.num===1">-</button>
                    {{good.num}}
                    <button @click="good.num++">+</button>
                </div>
                <div>
                    <button @click="del(index,good.id)">删除</button>
                </div>
            </li>
            <li v-if="goodInfos.length===0">kkry</li>
            <li>
                总金额：{{sum}}元
            </li>
        </ul>
    </div>
    <script>

        let box = {
            data() {
                return {
                    // isAllChecked:false,
                    chackedList: [],
                    goodInfos: [
                        // id，图片地址，商品名，商品总数，商品价格，选购数量
                        {
                            id: 0,
                            img: "https://desk-fd.zol-img.com.cn/t_s960x600c5/g5/M00/02/06/ChMkJlbKyeCIC-SBABiE33zZm4wAALITwH7uzwAGIT3484.jpg",
                            title: "商品1",
                            price: 10,
                            num: 2
                        },
                        {
                            id: 1,
                            img: "https://desk-fd.zol-img.com.cn/t_s960x600c5/g5/M00/02/06/ChMkJlbKyeCIC-SBABiE33zZm4wAALITwH7uzwAGIT3484.jpg",
                            title: "商品2",
                            price: 10,
                            num: 1
                        },
                        {
                            id: 2,
                            img: "https://desk-fd.zol-img.com.cn/t_s960x600c5/g5/M00/02/06/ChMkJlbKyeCIC-SBABiE33zZm4wAALITwH7uzwAGIT3484.jpg",
                            title: "商品3",
                            price: 10,
                            num: 1
                        },
                        {
                            id: 3,
                            img: "https://desk-fd.zol-img.com.cn/t_s960x600c5/g5/M00/02/06/ChMkJlbKyeCIC-SBABiE33zZm4wAALITwH7uzwAGIT3484.jpg",
                            title: "商品4",
                            price: 10,
                            num: 1
                        },
                    ]
                }
            },
            computed:{
                isAllChecked:{
                    get(){
                        console.log(111)
                        if(this.goodInfos.length===0){
                            return false;
                        }
                        return this.chackedList.length===this.goodInfos.length;
                    },
                    set(newValue){
                        this.chackedList = newValue?this.goodInfos:[]
                    }
                },
                
                sum(){
                    // this.totalMoney = 0;
                    // this.chackedList.forEach(item => {
                    //     this.totalMoney += item.num*item.price;
                    // });
                    // reduce((前一次运算的结果，下一次运算传入参数)=>{运算步骤，初始参数})              
                    return this.chackedList.reduce((total,item)=>total+item.num*item.price,0);
                }

            },
            methods: {
                del(index,id) {
                    console.log(index+''+id)
                    this.chackedList=this.chackedList.filter(item=>item.id!==id);
                    this.goodInfos.splice(index, 1);                    
                },
            }


        }
        let app = Vue.createApp(box).mount("#box")
    </script>
</body>

</html>