<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模糊搜索案例</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="box">
        <input type="text" v-model="search">
        <ul>
            <template v-for="({id,title},index) of dataList" :key="id">
                <li v-if="title.includes(search)">{{title}}---{{index}}</li>
            </template>
        </ul>
    </div>
    <script>
        let box = {
            data(){
                return {
                    search:"",
                    dataList:[
                        {id:1,title:"abc"},
                        {id:2,title:"bcd"},
                        {id:3,title:"def"},
                    ]
                }
            }
        }
        let app = Vue.createApp(box).mount("#box")
    </script>
</body>
</html>